body{
    margin: 0px; text-align: center;font-size: 20px;
}
header {
    height: auto; background-color: #0a043c; width: 100%;
}
p{line-height: 2;}
header h1{ text-align: center;}
header h1{
    font-family:Courgette;  font-size: 4rem;margin-top: 0px; margin-bottom: 0px;color: white;
}
header p{
    font-family:'Times New Roman', Times, serif; font-size: 2rem; margin-top: 0px; margin-bottom: 0px; text-decoration: underline;text-align: center;
    color: white;
}
.astronaut{padding-right: 320px;}
p{color: rgb(199, 145, 250);}
h2,h3{color: teal;}
.moon{
    padding-left: 40%;
}
.rocket{padding-left: 5%;}
.satellite{
    padding:15%; padding-right: 0px; padding-bottom: 0px; padding-top: 10%;
}
hr{
    border-style: none;border-top-style: dotted; width: 10%; color: rgb(170, 151, 151); height: 0px;
   border-width: 10px; margin-top: 2%;margin-bottom: 2%;
}
.middle-container{
    background-color:#f8f1f1 ;
}
.my-image{
    padding-top: 8%;
}
.profile h2{
    font-family: DM Serif Display; margin: 0; font-size: 2rem;
}
.profile p{
    width: 30%; padding: auto; margin: auto;
}
.coding{
    float: left;margin-right: 30px;
}
.skill-row h3{
    font-family: 'Times New Roman', Times, serif; margin: auto; font-size: 2rem; text-decoration: underline;
}
.skill-row h3{
    font-family: 'Times New Roman', Times, serif; margin: 0;
}
p{font-family: Merriweather;}
.skill-row p{
    width: 70%; margin: auto; text-align:left;

}
.skill-row{
    width: 50%;margin:100px auto 100px auto;text-align: left;
}
.blog{
    float: right;margin-left: 30px;
}
.blog-text{
    text-align: right; padding-right: 300px;
}
.myskills{
    margin-top: 4%;text-decoration: underline;font-size: 3rem;
}
.contact-me h2{text-decoration: underline;}
.contact-me p{margin-bottom: 0;}
.btn {
  background: #5d74e8;
  background-image: -webkit-linear-gradient(top, #5d74e8, #041f30);
  background-image: -moz-linear-gradient(top, #5d74e8, #041f30);
  background-image: -ms-linear-gradient(top, #5d74e8, #041f30);
  background-image: -o-linear-gradient(top, #5d74e8, #041f30);
  background-image: linear-gradient(to bottom, #5d74e8, #041f30);
  -webkit-border-radius: 38;
  -moz-border-radius: 38;
  border-radius: 38px;
  font-family: Arial;
  color: #f5f5f5;
  font-size: 20px;
 padding: 5px;
  text-decoration: none;
margin-top: 3%;margin-bottom: 15%;
}

.btn:hover {
  background: #65baeb;
  background-image: -webkit-linear-gradient(top, #65baeb, #0a3552);
  background-image: -moz-linear-gradient(top, #65baeb, #0a3552);
  background-image: -ms-linear-gradient(top, #65baeb, #0a3552);
  background-image: -o-linear-gradient(top, #65baeb, #0a3552);
  background-image: linear-gradient(to bottom, #65baeb, #0a3552);
  text-decoration: none;
}
.bottom-container{
    background-color: #e7d9ea;margin: auto; padding: 5%; margin: 0;
}
.bottom-container p{
    margin-top: 0; margin-bottom: 0; padding-bottom: 3%; padding-top: 3%;
}
 a{
    color:#fdb827;
}
a:hover{color:green; background-color: white; border:5px black }
@media (max-width:768px){
    .coding{
       float: none;width: 200px;margin: auto;
    }
    .blog{
       float: none;width: 200px;margin: auto;
    }
    .my-image{
        width: 200px;
    }
    p{
        line-height: 1.5;width: 100%;text-align: center;
    }
    header h1{
        font-size: 2rem;
    }
    header p{
        font-size: 1rem;
    }
    .astronaut{
        padding-right: 100px;
    }
    .skill-row{
        margin: 60px auto 60px auto;
    }
    .profile p{
        width: 70%;
    }
    .skill-row p{
        width: 100%;text-align: center;
    }
    .skill-row h3{
        text-align: center;
    }
}
